@CHARSET "UTF-8";

#splashdiv {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background-color: blue;
}
#splashdiv h1{
	margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}