@CHARSET "UTF-8";

header {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 100%;
	background-color: blue;
}

#footer-logo {
	width: 15%;
	height: 15%;
}

#footer {
	background-color: orange;
/* 	background-color: #f5f5f5; */
}

#page-title {
	background-color: red;
}

#session-flashbag-message {
	background-color: violet;
}

#become-member {
	background-color: yellow;
}

#page-session-manager {
	background-color: green;
}

#login-form {
	background-color: lime;
}

#main-content {
	background-color: grey;
}

/* Sticky footer styles
      -------------------------------------------------- */
html, body {
	height: 100%;

	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 100px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
	width: auto;
/* 	background-color: red; */
	/*         max-width: 680px; */
}

.container .credit {
	margin: 20px 0;
}
