@CHARSET "UTF-8";

#splashdiv {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background: url("#{resource['pics/cook-book-background.jpg']}") no-repeat center center fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/* 	background-color: blue; */
}
#splashdiv a{
	margin: 0;
/*      background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}