@CHARSET "UTF-8";

header {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 100%;
	background: url("#{resource['pics/cook-book-background.jpg']}") no-repeat center center fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#footer-logo {
	width: 15%;
	height: 15%;
}

#footer {
	background-color: #449d44;
}

#page-title {
	height: 70px;
	background-color: rgba(100,100,100,0.6);
	border-radius: 0px 0px 10px 10px;
}
#page-title p{
	color: white;
	font-size: 3em;	
}

/* Sticky footer styles
      -------------------------------------------------- */
html, body {
	height: 100%;

	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 100px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
	width: auto;
/* 	background-color: red; */
	/*         max-width: 680px; */
}

.container .credit {
	margin: 20px 0;
}
